body {
  margin: auto;
  width: 100%;
  color: #3a3a3c;
  font-family: 'Ubuntu', sans-serif;
  
}

header {
  text-align: center;
  background-color: #3a3a3c;
  color: #c4996c;
  height: 5rem;
  padding-top: 1.875rem;
}

h1 {
  margin-top: 0%;
}

nav {
  background-color: #d2d2d4;
  height: 2.5rem;
  text-align: center;
  padding-top: 0.9375rem;
}

.nav-link {
  padding: 0 1.25rem;
  display: inline-block;
  font-size: 1.5rem;
  
  
}

a {
  text-decoration: none;
  color: black;
}

section {
  
  background-image: url("/images/honeybadgers.jpg");
  
  height: 45.75rem;

  
}

.honeybadger-img {
  width: 5%;
  position: relative;
  left: 16.25rem;
  bottom: 4.375rem;
  
}

.info-box {
  
  width: 11.875rem;
  background-color: #3a3a3c;
  color: #c4996c;
  opacity: 95%;
  position: relative;
  border-radius: 10%;
  text-align: center;
  padding: 1.25rem;
  display: inline-block;
}

#ib1 {
  left: 12.5rem;
  top: 6.25rem;
}

#ib2 {
  left: 78.125rem;
  top: 25rem;
}

#ib3 {
  top: 18.75rem;
  left: 25rem;
  
}

#ib4 {
  left: 31.25rem;
  width: 18.75rem;
}

p {
  margin-top: 0;
}

.badger-gif {
  border: solid 0.313rem;
  position: relative;
  left: 18.75rem;
  top: 8.75rem;
}

.badger-gif2 {
  border: solid 0.313rem;
  position: relative;
  left: 11.25rem;
  top: 30rem;
}

.badger-gif3 {
  border: solid 0.313;
  position: relative;
  left: 25rem;
  top: 10rem;
}

.badger-containers {
  display: inline-block;
}

.sidenav {
  display: inline-block;
  width: 9.375rem;
  height: 44.813rem;
  margin-bottom: -0.188rem;
  
  background-color: #7b6858;
  
}

.third-section {
  display: inline-block;
  width: 110.625rem;
  position: absolute;
  
}

footer {
  height: 2.5rem;
  background-color: #3a3a3c;
  text-align: center;
  color: #c4996c;
  position: relative;
  
 
  
}

.copyright {
  padding-top: 0.625rem;
}